{
  site_name = 'Freifunk Lippe',
  site_code = 'fflip',
  default_domain = 'd1lip',

  timezone = 'CET-1CEST,M3.5.0,M10.5.0/3',
  ntp_server = {'0.de.pool.ntp.org', '1.de.pool.ntp.org', '2.de.pool.ntp.org', '3.de.pool.ntp.org'},
  regdom = 'DE',

  wifi24 = {
  	channel = 9,
	mesh = {
		mcast_rate = 12000;
	},
  },
  wifi5 = {
   	channel = 44,
	mesh = {
		mcast_rate = 12000;
	},
  },

  poe_passthrough = true,

  config_mode = {
    hostname = {
      optional = false,
      prefill = true,
    },
   geo_location = {
    show_altitude = false,
     osm = {
       center = {
         lat = 52.000946848,
         lon = 8.854293823,
       },
       zoom = 13,
       -- openlayers_url = 'http://ffac.example.org/openlayer',
     },
  },     remote_login = {
      show_password_form = true,
      min_password_length = 10,
    },
  },

  mesh_vpn = {
     enabled = true,
     mtu = 1312,

  bandwidth_limit = {
     enabled = false,
     egress = 5000, -- kbit/s
     ingress = 25000, -- kbit/s
     },
 },

  autoupdater = {
    branch = 'stable',

    branches = {
      stable = {
        name = 'stable',
        -- List of mirrors to fetch images from. IPv6 required!
        mirrors = {'http://update.freifunk-lippe.de/stable/lip/upgrade', 'http://update2.freifunk-lippe.de/stable/lip/upgrade', 'http://update3.freifunk-lippe.de/stable/lip/upgrade'},
        good_signatures = 2,
        -- List of public keys of maintainers.
        pubkeys = {
                '6c36b7cd1c78b7107994fccc6d9d6d31ba2bcb04f281f114a5a9e1043efef594', -- Michael
                '523b9680e41b04e28ef9f839856498859930e3033fd39a7118305f2e0fbc205c', -- Andre
                '57a43b0d8cd7af864dedee693ba364e50324c78da4a929067a9eea8f8aa6b768', -- Joerg
                '674fa1e03356604d5c69af1cb10836036ff3426af5f7e5020e65faeb24dd0593', -- Bjoern
        },
        },
      experimental = {
        name = 'experimental',
        -- List of mirrors to fetch images from. IPv6 required!
        mirrors = {'http://update.freifunk-lippe.de/experimental/lip/upgrade', 'http://update2.freifunk-lippe.de/experimental/lip/upgrade'},
        good_signatures = 1,
        -- List of public keys of maintainers.
        pubkeys = {
                '6c36b7cd1c78b7107994fccc6d9d6d31ba2bcb04f281f114a5a9e1043efef594', -- Michael
                '523b9680e41b04e28ef9f839856498859930e3033fd39a7118305f2e0fbc205c', -- Andre
                '57a43b0d8cd7af864dedee693ba364e50324c78da4a929067a9eea8f8aa6b768', -- Joerg
                '674fa1e03356604d5c69af1cb10836036ff3426af5f7e5020e65faeb24dd0593', -- Bjoern
        },
      },
    },
  },

  ssid_changer = {
    enabled = true,
    switch_timeframe = 30,    -- only once every timeframe (in minutes) the SSID will change to the Offline-SSID 
                              -- set to 1440 to change once a day
                              -- set to 1 minute to change every time the router gets offline
    first = 5,                -- the first few minutes directly after reboot within which an Offline-SSID always may be activated (must be <= switch_timeframe)
    prefix = 'FF_Offline_',   -- use something short to leave space for the nodename (no '~' allowed!)
    suffix = 'nodename',      -- generate the SSID with either 'nodename', 'mac' or to use only the prefix: 'none'
  
    tq_limit_enabled = false, -- if false, the offline SSID will only be set if there is no gateway reacheable
                              -- upper and lower limit to turn the offline_ssid on and off
                              -- in-between these two values the SSID will never be changed to prevent it from toggeling every minute.
    tq_limit_max = 45,        -- upper limit, above that the online SSID will be used
    tq_limit_min = 35         -- lower limit, below that the offline SSID will be used
  },

}